jupyterlab
ipykernel
ipywidgets
numpy
matplotlib
Pillow
scikit-image
scikit-learn
pydicom
pylibjpeg
pylibjpeg-libjpeg
pylibjpeg-openjpeg
torchmetrics
ftfy
omegaconf
regex
submitit
termcolor
dppy
networkx
sphinxcontrib-bibtex
sphinx_rtd_theme
cvxopt==1.3.2
umap-learn
plotly
